.footer {
    background-color: var(--background-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

