.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-dark-color);
    background-image: linear-gradient( 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url("../images/hero/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        font-family: var(--main-font);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: var(--primary-color);
        margin-bottom: 30px;
        text-transform: uppercase;
    }

}